/* CSS reset */
*, 
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

*:focus{
	outline: none;
}

// mobile first design
@mixin breakpoint($breakpoint) {
	@if $breakpoint == small {
		@media (min-width: 37.5em){
			@content;
		}
	}

	@if $breakpoint == medium {
		@media (min-width: 46.25em){
			@content;
		}
	}

	@if $breakpoint == large {
		@media (min-width: 75em){
			@content;
		}
	}

	@if $breakpoint == xlarge {
		@media (min-width: 112.5em){
			@content;
		}
	}
}




html{
	font-size: 62.5%;
}


body{
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: #000;
}

img{
	width: 100%;
}