*{
	color: #fff;
}

h1{
	font-size: 2.5rem;

	@include breakpoint(medium){
		font-size: 4rem;
	}
}

p{
	font-size: 1.8rem;
}

.container{
	position: relative;
	height: 100vh;
	background-color: #000;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem;

	&--intro{
		position: relative;
		z-index: 2;
	}

	&--text{
		margin: 1.75rem 0;

		@include breakpoint(medium){
			font-size: 2.5rem;
		}
	}

	&--mars{
		display: block;
		position: absolute;
		top: 80%;
		left: 50%;
		animation: mars 360s infinite linear;
		width: 90vw;

		@include breakpoint(medium){
			top: 65%;
		}

		@include breakpoint(large){
			top: 50%;
		}
	}
}


.hide--data:nth-of-type(odd){
	display: none;

	@include breakpoint(large){
		display: block;
	}
}

.hide--data:nth-of-type(even){
	display: none;

	@include breakpoint(medium){
		display: block;
	}
}



#season, #sol--current, #week{
	opacity: 0;
}

.max{
	max-width: 115rem;
	margin: 0 auto;
}